/*
!/.github
!/config
!/defaultconfigs
!/kubejs
!/ldlib
!/mods
!/resourcepacks
!/shaderpacks
!/.clientonlymodlist
!/.gitignore
!/.packwizignore
!/index.toml
!/install_java.*
!/LICENSE
!/pack.toml
!/README.txt
!/release_guide.md
!/server_mode_off.bat
!/server_mode_on.bat
!/start.bat
!/start.ps1
!/start.sh
!/variables.txt
.probe/*
!.probe/probe-settings.json
