/*
!/.gitignore
!/create-server.toml
!/ftbessentials-server.snbt
!/sophisticatedbackpacks-server.toml
!/tfc-server.toml
!/firmalife-server.toml
!/firmaciv-server.toml
!/parcool-server.toml
!/createdieselgenerato-server.toml
