/*
!/.gitignore
!/xaerominimap
!/create*
!/tfc*
!/ae2
!/almostunified
!/alexscaves-client.toml
!/alexscaves-general.toml
!/alexsmobs.toml
!/artifacts
!/fancymenu
!/ftb*
!/jade
!/jei*
!/legendarysurvivaloverhaul
!/Mekanism*
!/ModernUI
!/starterstructure
!/starterstructure.json5
!/ad_astra*
!/caelum-client.toml
!/carryon-common.toml
!/chloride-client.json
!/curios*
!/custom trades
!/farmersdelight*
!/jecharacters.toml
!/jeed-client.toml
!/majruszsaccessories.json
!/majruszsdifficulty.json
!/playerrevive*
!/sliceanddice*
!/tacz*
!/vintageimprovements*
!/visual_keybinder*
!/waystones-common.toml
!/xaerominimap-common.txt
!/xaerominimap.txt
!/xaeroworldmap-common.txt
!/xaeroworldmap.txt
!/Weather2
!/visual_workbench.json
!/visualworkbench-client.toml
!/woodencog-common.toml
!/parcool-client.toml
!/parcool-client-1.toml.bak
!/ShieldExpansion-common.toml
!/everycomp-common.toml
!/everycomp-entries.toml
!/everycomp-client.toml
!/moonlight-client.toml
!/everycomp-hazardous.toml
!/bc_particle
!/spartanweaponry-common.toml
!/spartanweaponry-client.toml
!/oei
!/modernfix-mixins.properties
!/scguns-common.toml
!/gamestages
!/resourcepackoverrides.json
!/survivorsdelight-common.toml
!/ageingspawners-common.toml
!/butcher.toml
!/borninconfiguration-general.toml
!/map_atlases-client.toml
!/map_atlases-common.toml
!/itemphysic.json
!/itemphysic-client.json
!/ktfcc-common.toml
!/punchy